.reactions {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  border-top: 1px solid lightgray;
  font-size: medium;
  color: gray;
  cursor: pointer;
  padding: 15px;
}

.reaction {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex: 1;
}

.reaction p {
  margin-left: 10px;
}

.reaction:hover {
  background-color: #eee;
  border-radius: 10px;
}
